.body-e{
    height: 175vh;
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
}

#img-container{
    display: flex;
    justify-content: center;
    /* filter: blur(3px);
    -webkit-filter: blur(3px); */

}

#img-b{
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    filter: blur(3px);
    -webkit-filter: blur(3px);

    
}


.gainers-container{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 30vh;
    width: 20vw;
    position: relative;
    overflow-x: hidden;
    border-style: solid;
    border-radius: square;
    border-color:black;
    border-width: thin;
    box-shadow: 0.5px 0.5px 0.5px 0.5px;

}

.losers-container{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 30vh;
    width: 20vw;
    position: relative;
    overflow-x: hidden;
    border-style: solid;
    border-radius: square;
    border-color:black;
    border-width: thin;
    box-shadow: 0.5px 0.5px 0.5px 0.5px;

}


.active-container{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 42vh;
    width: 90vw;
    position: relative;
    /* right: 10%; */
    overflow-x: hidden;

}

.active-container-list{
    display: flex;
    justify-content: space-around;

}


.index-box{
    height: 150px;
    width: 150px;
    padding: 20px;
    padding-left: 60px;
    border-style: solid;
    border-radius: square;
    border-color:black;
    border-width: thin;
    box-shadow: 1px 1px 1px 1px;

}


