.order-body{
    height: 100%;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.orders-container{
    color: white;
    position: absolute;
    top: 20%;
    left: 35%;
}


.button-containter-o{
    height: 5.25vh;
    display: flex;
    position: relative;
    top: 11vh;
    right: 35%;
}

.buttons-o{
    width: 22.3vw;
}