.body{
    height: 150vh;
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
}

#img-container{
    display: flex;
    justify-content: center;
    /* filter: blur(3px);
    -webkit-filter: blur(3px); */
}

#img-b{
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    filter: blur(1.9px);
    -webkit-filter: blur(1.9px);
    
    
}
