.watchlist-container{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 34.2vh;
    width: 15.4.6vw;
    position: relative;
    overflow-x: hidden;
}

.display-w-container{
    width: 14vw;

}

.content-w{
    display: flex;
    justify-content: space-around;
}

.watch-symbol{
    color: #FFFFFF;
    font-size: 20px;

}