.watchlist-container{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 34.2vh;
    width: 15.4.6vw;
    position: relative;
    overflow-x: hidden;
}

.display-w-container{
    width: 14vw;

}

.content-w{
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid black;
    align-content: center;
}

.watch-symbol{
    color: #FFFFFF;
    font-size: 20px;

}

#button-dw-container{
    position: relative;
    left: 22%;
    /* padding: 1%; */
    color: black;

}

#button-dw{
    background-color: red;

}