.body-m{
    background-image: url("https://wallpaperaccess.com/full/1092758.jpg");
    height: 150vh;
    width: 100vw;
}

.buttons-container{
    display: flex;
    justify-content: center;
    height: 5%;
    width: 100vw;

}
/* 
.buttons-m{
    margin: 0;
    width: 100%;
    font-size: 20px;
    color: white;
} */


.quotes-container-m{
    position: relative;
    left: 2%;
    /* display: flex;
    justify-content: center; */
    height: 200vh;
    width: 95vw;
    overflow-x: hidden;
    background-color: white;

}

