.header-container {
    display: flex;
    justify-content: space-around;
    background-image: url("https://cdn.hipwallpaper.com/i/0/24/13Fcmq.jpg");
    width: 100vw;
    height: 8vh;
    position: fixed;
    z-index: 1;
    

}

.nav-container{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.search-h{
    height: 20%;
    width: 20%;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #0f0c29, #302b63, #24243e);
}


#wallet-btn{
    margin: 10px 0px;
    width: 8vw;
    font-size: 25px;
    color: white;
    background-color: rgb(5, 18, 143)

}



/* // background: "#0f0c29", background: "-webkit-linear-gradient(to right, #0f0c29, #302b63, #24243e)", 
background: "linear-gradient(to right, #0f0c29, #302b63, #24243e)" */