.dashboard-container{
    overflow-x: hidden;
    width: 100vw;
}


.history{
    background-image: url("https://us.123rf.com/450wm/gujarichleaw/gujarichleaw1903/gujarichleaw190300036/120481739-abstract-light-blue-black-gradient-color-background-vector-illustration-eps10.jpg?ver=6");
    position: relative;
    top: 50%;
    left: 4%;
}

.accounts-a{
    background-image: url("https://us.123rf.com/450wm/gujarichleaw/gujarichleaw1903/gujarichleaw190300036/120481739-abstract-light-blue-black-gradient-color-background-vector-illustration-eps10.jpg?ver=6");
    height: 16vh;
    width: 15%;
    color: white;
    right: 6.5%;
}

.watchlist{
    background-image: url("https://us.123rf.com/450wm/gujarichleaw/gujarichleaw1903/gujarichleaw190300036/120481739-abstract-light-blue-black-gradient-color-background-vector-illustration-eps10.jpg?ver=6");
    height: 48.1vh;
    width: 15.5%;
    color: white;
    position: relative;
    bottom: 20%;
    left: 2%;

}

.timer-io{
    font-size: 50px;
    position: absolute;
    top: 70%;
    left: 33%;
    color: white;
    letter-spacing: 18px;
    border: solid black 2px;
    padding: 20px;

}

.Fab{
    border-radius: 20px;
}