.history-container{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 35vh;
    width: 15vw;
    position: relative;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

/* .h-container{
    background-image: url("https://us.123rf.com/450wm/gujarichleaw/gujarichleaw1903/gujarichleaw190300036/120481739-abstract-light-blue-black-gradient-color-background-vector-illustration-eps10.jpg?ver=6");
} */