html,
body {
    margin: 0;
    margin-top: 0;
}
.search-symbol{
    height: 10%;
    width: 15%;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #0f0c29, #302b63, #24243e);
    position: fixed;
    top: 40%;
    left:40%;
}

.search-a-container{
    position: relative;
    top: 30%;
    display: flex;
    flex-direction: column;
}

.orders-page{
    height: 50%;
    width: 45%;
    background-color: white;
    position: fixed;
    top: 20%;
    left:28%;

}


.deposit-container-a {
    position: absolute;
    z-index: 1;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #0f0c29, #302b63, #24243e);
    top: 8%;
    left: 72%;


}

.deposit-form-a{
    height: 20vh;
    width: 20vw;
    /* position: fixed; */
    background-color:blue;
    color: white;
    overflow-y: hidden;
    overflow-x: hidden;
}


.form-input-a{
    width: 20vw;
    position: absolute;
    top: 90%;
    color: white;
    background-color: green;

}

.input-a{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    left: 15%;
}

.header-app{
    margin-bottom: 3.9%;
}

